<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.crabstick.myapp.location.LocationMapper">

	<resultMap type="com.crabstick.myapp.location.Location" id="LocationResultMap">
		<result property="loc_no" column="loc_no"/>
		<result property="loc_name" column="loc_name"/>
		<result property="loc_lati" column="loc_lati"/>
		<result property="loc_long" column="loc_long"/>
		<result property="loc_ctweight" column="loc_ctweight"/>
		<result property="loc_hiweight" column="loc_hiweight"/>
		<result property="loc_ntweight" column="loc_ntweight"/>
		<result property="loc_code" column="loc_code"/>
		<result property="loc_siguncode" column="loc_siguncode"/>
		<result property="loc_imgpath" column="loc_imgpath"/>
		<result property="loc_commt" column="loc_commt"/>
	</resultMap>	

	<select id="selectLocationByPlanNo" parameterType="int" resultMap="LocationResultMap">
		SELECT l.loc_no AS loc_no, loc_name, loc_lati, loc_long, loc_ctweight, loc_hiweight, loc_ntweight, loc_code, loc_siguncode, loc_imgpath, loc_commt
		FROM locations l, plans p WHERE p.loc_no = l.loc_no AND p.plan_no = #{plan_no}
	</select>
</mapper>
