<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.crabstick.myapp.path.PathMapper">

	<resultMap type="com.crabstick.myapp.path.Path" id="PathResultMap">
		<result property="path_no" column="path_no"/>
		<result property="path_name" column="path_name"/>
		<result property="path_date" column="path_date" />
		<result property="plan_no" column="plan_no" />		
		<result property="path_summary" column="path_summary"/>
	</resultMap>	

	<insert id="insert" parameterType="com.crabstick.myapp.path.PathMapper">
		INSERT INTO paths values(SEQ_PATH.NEXTVAL, #{path_name}, SYSDATE, #{plan_no})
		
		<selectKey keyProperty="path_no" resultType="int" order="AFTER">
			SELECT SEQ_PATH.CURRVAL FROM DUAL
		</selectKey>
	</insert>	
	
	<select id="select" parameterType="int" resultMap="PathResultMap">
		SELECT * FROM paths WHERE plan_no=#{plan_no}
	</select>
	
	<select id="selectPathSummary" parameterType="int" resultMap="PathResultMap">
		SELECT path_summary FROM paths WHERE plan_no=#{plan_no}
	</select>
	
	<select id="selectByPathNo" parameterType="int" resultMap="PathResultMap">
		SELECT * FROM paths WHERE path_no = #{path_no}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM paths WHERE path_no = #{path_no}
	</delete>
	
	<update id="update" parameterType="com.crabstick.myapp.path.PathMapper">
		UPDATE paths SET path_name = #{path_name}, path_date = SYSDATE WHERE path_no = #{path_no}
	</update>
	
	
</mapper>
