<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crabstick.myapp.recommendation.RecommendationMapper">

	<resultMap type="com.crabstick.myapp.recommendation.City" id="CityResultMap">
		<result property="loc_no" column="loc_no" />
		<result property="loc_name" column="loc_name" />
		<result property="loc_lati" column="loc_lati" />
		<result property="loc_long" column="loc_long" />
		<result property="loc_ctweight" column="loc_ctweight" />
		<result property="loc_hiweight" column="loc_hiweight" />
		<result property="loc_ntweight" column="loc_ntweight" />
		<result property="loc_code" column="loc_code"/>
	</resultMap>

	<!-- 동행 도시 추천 -->
	<select id="recommend_City_WithAccompany" resultMap="CityResultMap">
		SELECT * FROM locations WHERE loc_code = #{loc_code}
	</select>
	<!-- 동행 도시 추천 -->


	<!-- 검색 업뎃 -->
	<update id="update_Loc_Code" parameterType="com.crabstick.myapp.recommendation.RecommendationMapper" >
		UPDATE locations SET loc_ctweight=#{loc_ctweight}, loc_hiweight=#{loc_hiweight}, loc_ntweight=#{loc_ntweight},loc_code=#{loc_code} WHERE loc_no=#{loc_no}
	</update>
	<!-- 검색 업뎃 -->

	<select id="searchByName" resultMap="CityResultMap"
		parameterType="String">
		SELECT * FROM LOCATIONS WHERE LOC_NAME LIKE #{loc_name}
	</select>

</mapper>