<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.crabstick.myapp.venue.VenueMapper">

	<resultMap type="com.crabstick.myapp.venue.Venue" id="VenueResultMap">
		<result property="ven_no" column="ven_no"/>
		<result property="ven_name" column="ven_name"/>
		<result property="ven_lati" column="ven_lati" />
		<result property="ven_long" column="ven_long" />
		<result property="ven_commt" column="ven_commt" />
		<result property="ven_type" column="ven_type" />
		<result property="ven_order" column="ven_order" />
		<result property="path_no" column="path_no" />
		<result property="loc_no" column="loc_no" />
	</resultMap>	

	<insert id="insert" parameterType="com.crabstick.myapp.venue.VenueMapper">
		INSERT INTO venues VALUES(SEQ_VEN.NEXTVAL, #{ven_name}, #{ven_lati}, #{ven_long}, #{ven_commt}, #{ven_type}, #{ven_order}, #{path_no}, #{loc_no})
	</insert>
	
	<select id="select" parameterType="int" resultMap="VenueResultMap">
		SELECT * FROM venues WHERE path_no=#{path_no} ORDER BY ven_order
	</select>
	
</mapper>
